__pycache__/
data/
.vscode/
.venv/
gaze/
gaze_txt/
geometry_data/
ground_truth/
ground_truth_aligned/
ground_truth_dense/
models/
tools/
logs/
meshes/
meshes_semantic/
ppo_scanpath_tesorboard/
results_viz/
smooth_gaze/
smooth_gaze_txt/
*.zip
*.pth
*.pt